* {
    font-family: 'Assistant', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0px;
}

.home,
.about,
.projects,
.contact,
.rest {
    min-height: 91.5vh;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}


.contact {
    background-color: #0d3b70;
}

.text-justify{
    text-align: justify;
}