ol, ul {
    padding-left: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0px;
}

.social-icon {
    color: black;
    text-decoration: none;
    margin: 0px 12px;
    transform: scale(1.4);
    transition: 0.5s all ease-out;
}

.img-custom {
    height: 35vh;
    width: 35vh;
    object-fit: cover;
}